BLOCK ASYNCPATHS ;
BLOCK RESETPATHS ;
BLOCK RD_DURING_WR_PATHS ;
FREQUENCY NET "p_clk16m" 16.000000 MHz ;
FREQUENCY NET "ramclk" 128.000000 MHz ;
INPUT_SETUP ALLPORTS 5.000000 ns CLKNET "p_clk16m" ;
CLOCK_TO_OUT ALLPORTS 30.000000 ns CLKNET "p_clk16m" ;
COMMERCIAL;
